*{
  margin: 0;
  padding: 0;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__board{
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
  }
  &__lost{
    height: calc(50vw - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightyellow;
  }
  &__cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height:  64px;

    img{
      width: 48px;
      height: 48px;
      position: relative;
    }
    &.black{
      background-color: saddlebrown;
    }
    &.white{
      background-color: blanchedalmond;
    }
    &.selected{
      background-color: green;
    }
    .available{
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: green;
    }
  }
}




